::-webkit-input-placeholder {
    font-style: italic;
    color: rgba(46, 92, 113, 0.5);
}

::-moz-placeholder {
    font-style: italic;
    color: rgba(46, 92, 113, 0.5);
}

:-ms-input-placeholder {
    font-style: italic;
    color: rgba(46, 92, 113, 0.5);
}

:-moz-placeholder {
    font-style: italic;
    color: rgba(46, 92, 113, 0.5);
}

#root,
.App,
.mainDiv,
.homeDiv {
    height: calc(100vh - 83px);
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.loginForm,
.registerForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginForm h1,
.registerForm h1 {
    text-align: center;
    padding: 10px;
    color: #2e5c71;
}

.signupSpan,
.loginSpan {
    color: red;
}

a {
    text-decoration: none;
}

.signupSpan:hover,
.loginSpan:hover {
    color: #2e5c71;
    cursor: pointer;
}

.loginDiv input,
.registerDiv input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
}

.loginDiv button,
.registerDiv button {
    display: block;
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    font-size: 18px;
    background: #2e5c71;
    cursor: pointer;
}

.headerDiv {
    background-color: #2e5c71;
    padding: 5px;
}

.headerUL {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.headerUL li {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.logoutLI:hover {
    cursor: pointer;
    color: #b09a68;
}

.chat {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.chatRoomDiv {
    width: 100%;
    height: 100%;
}

.chat-window {
    height: calc(100vh - 83px);
    width: 100%;
    padding: 20px 0;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.chat-window ul {
    list-style: none;
}

.chat-window ul li {
    padding: 4px;
}

.blue {
    background-color: rgba(232, 232, 255, 0.76);
}

.chatNameSpan {
    font-weight: bold;
}

.chat-window-footer {
    display: flex;
}

/* .chat-window-footer {
    padding: 20px;
} */

.chat-window-footer input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    outline: none;
    font-size: 14px;
    color: #555;
}

.chat-window-footer button {
    height: 34px;
    width: 50px;
    border: none;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #2e5c71;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

@media(max-width:700px) {
    .container {
        width: 100%;
    }

    .chat {
        width: 100%;
    }

    .chat-window {
        padding: 0 10px;
    }

    .chat-window-footer input {
        border-left: none;
        border-bottom: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .chat-window-footer button {
        border-right: none;
        border-bottom: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}